@using ShopApp.ViewModels
@model ShopApp.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<!-- Slider main container -->
<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        @foreach (var slide in Model.SliderImages)
        {
            <div class="swiper-slide">
                <img src="@slide.Image" class="w-100" />
            </div>
        }

    </div>


    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <h2 class="text-center py-2">Categories</h2>

            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                @foreach (var category in Model.Categories)
                {
                    <div class="col mb-5">
                        <div class="card h-100">

                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Category name-->
                                    <h5 class="fw-bolder">
                                        <a asp-controller="Products" asp-action="Index" asp-route-categoryid="@category.Id">@category.Name</a>
                                    </h5>
                                </div>
                            </div>

                        </div>
                    </div>
                }
            </div>
        </div>
    </section>



<!-- If we need pagination -->
<div class="swiper-pagination"></div>

<!-- If we need navigation buttons -->
<div class="swiper-button-prev"></div>
<div class="swiper-button-next"></div>

<!-- If we need scrollbar -->
<div class="swiper-scrollbar"></div>

    
</div>


<!-- Section-->
@section Styles {
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
}

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
        const swiper = new Swiper('.swiper', {
            // Optional parameters

            loop: true,

            // If we need pagination
            pagination: {
                el: '.swiper-pagination',
            },

            // Navigation arrows
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },

            // And if we need scrollbar
            scrollbar: {
                el: '.swiper-scrollbar',
            },
        });
    </script>
}